In [1]:
import pandas as pd
import numpy as np

In [2]:
season2022 = pd.read_csv("2022SeasonProcessed.csv")
print(season2022)

season2023 = pd.read_csv("2023SeasonProcessed.csv")
print(season2023)

                 Players    Salary
0          Stephen Curry  45780966
1      Russell Westbrook  44211146
2           LeBron James  41180544
3           Kevin Durant  42018900
4           Bradley Beal  33724200
5         Damian Lillard  39344900
6  Giannis Antetokounmpo  39344970
7          Kawhi Leonard  39344900
8            Paul George  39344900
9          Klay Thompson  37980720
                 Players    Salary
0          Stephen Curry  48070014
1      Russell Westbrook  47063478
2           LeBron James  44474988
3           Kevin Durant  44119845
4           Bradley Beal  43279250
5         Damian Lillard  42492492
6  Giannis Antetokounmpo  42492492
7          Kawhi Leonard  42492492
8            Paul George  42492492
9          Klay Thompson  40600080

In [3]:
percent_increase = round(((season2023.Salary - season2022.Salary) / season2022.Salary) * 100 , 2)
print(percent_increase)

0     5.00
1     6.45
2     8.00
3     5.00
4    28.33
5     8.00
6     8.00
7     8.00
8     8.00
9     6.90
Name: Salary, dtype: float64

In [4]:
final_result = np.column_stack((season2022.Players, season2022.Salary, season2023.Salary, percent_increase))
print(final_result)

[['Stephen Curry' 45780966 48070014 5.0]
 ['Russell Westbrook' 44211146 47063478 6.45]
 ['LeBron James' 41180544 44474988 8.0]
 ['Kevin Durant' 42018900 44119845 5.0]
 ['Bradley Beal' 33724200 43279250 28.33]
 ['Damian Lillard' 39344900 42492492 8.0]
 ['Giannis Antetokounmpo' 39344970 42492492 8.0]
 ['Kawhi Leonard' 39344900 42492492 8.0]
 ['Paul George' 39344900 42492492 8.0]
 ['Klay Thompson' 37980720 40600080 6.9]]

In [5]:
nba_salary_increase = pd.DataFrame(final_result)

nba_salary_increase.columns = ["Players", 'Season_2022', 'Season_2023', 'Salary_percent_increase']
print(nba_salary_increase)

                 Players Season_2022 Season_2023 Salary_percent_increase
0          Stephen Curry    45780966    48070014                     5.0
1      Russell Westbrook    44211146    47063478                    6.45
2           LeBron James    41180544    44474988                     8.0
3           Kevin Durant    42018900    44119845                     5.0
4           Bradley Beal    33724200    43279250                   28.33
5         Damian Lillard    39344900    42492492                     8.0
6  Giannis Antetokounmpo    39344970    42492492                     8.0
7          Kawhi Leonard    39344900    42492492                     8.0
8            Paul George    39344900    42492492                     8.0
9          Klay Thompson    37980720    40600080                     6.9

In [6]:
nba_salary_increase.to_csv("NBASalary.csv", index = False)